@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin: 0 !important;
    margin-bottom: 0 !important;
}
/* inicio do estilo header */
/* .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    list-style: none;
    height: 150px;
    position: relative;
} */
header{
    background-color: #F4AE1E;
}

.logo img,
 .bar-menu-mob img,
 .logo-menu-mob img,
 .logo-menu-mobile img {
    width: 200px;
    height: 150px;
}

.home{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.home:hover{
    border-bottom: 1px solid black;
}

.mobile-only{
    display: none;
}

.bi {
    font-size: 40px;
    color: #fff;
}

.bar-menu-mob:hover {
    left: 0;   
}

/*
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-size: 1.3rem;
} */
/* final do header */

/* inicio body */
/* .departamentos{
    width: 100%;
    text-align: center; */
    /* position: relative;  
    top: -150px; */
    /* background-color: #224eae;
}*/
.departamentos-mob{
    display: none;
}
#row {
    gap: 100px;
}
.departamentos1{
   height: 18.5rem;
   width: 18.5rem;
}

.departamentos-mobile{
    padding: 10p;
}
/*.departamentos1 ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 50px;
    opacity: 1;
}
.departamentos1 ul li{
    height: 18.5rem;
    width: 18.5rem;
    background-color: rgb(59, 209, 151);
    text-align: center;
}*/
.departamentos{
    margin-top: -150px;

}
.horti{
    background-image: url(../imagens/hortifruti2.jpg);
    background-size: 18.5rem 18.5rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    border-radius: 5px;
}
.acougue{
    background-image: url(../imagens/acougue.jpg);
    background-size: cover;
    background-position-x: -120px;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    border-radius: 5px;
}
.padaria{
    background-image: url(../imagens/padaria1.jpg);
    background-size: cover;
    background-position-x: -90px;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    border-radius: 5px;
}

.fidelidade { 
    background-color: aqua;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    border-radius: 5px;
}

/* .lugares{
    width: 100%;
    height: 60px;
    background-color: #224eae;
    text-align: center;
    padding-bottom: 120px;
}
.lugares h2{
    font-size: 3rem;
    color: rgb(222, 222, 59);
    text-shadow: 2px 4px 7px black;
} */

#carousel_lugar{
    width: 100%;
    background-color: #224eae;
}
.mercados{
    max-width: 80%;
    position: relative;
    margin-left: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    font-family: 'Crete Round', serif;
    align-items: center;
    padding: 30px;
}
.card h2{
    font-size: 2.5rem;
    color: white;
    margin-top: 20px;
}
.card p{
    margin-top: 20px;
    font-size: 1.3rem;
    color: white;
}
.card-style{
    background-color: transparent;
    border: none;
}
.numero{
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    height: 2.5rem;
    width: 10rem;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
/*
.instagram{
    background-image: url(../imagens/fundobolinhas.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
}
.instagram_divulgacao{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.instagram_texto{
    width: 700px;
    font-size: 80px;
    color: #224eae;
}
.instagram_imagem img{
    width: 700px;
} */
/* final body */

/* media dos departamentos */
@media only screen and (max-width: 1023px){
    .departamentos{
        display: none;
    }
    .departamentos-mob{
        display: block;
    }
    .hortifruti-mob{
        background-color: #8DC63F;
    }
    .padaria-mob{
        background-color: #FCB040;
    }
    .acougue-mob{
        background-color: #FE0000;
    }
    .fidelidade-mob{
        background-color: #255fb6;
    }
    .departamentos-mobile{
        border-radius: 5px 0 5px 0;
        padding: 20px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 1506px) {
    #row {
      gap: 60px;
    }
    .departamentos1{
        height: 13.5rem;
        width: 13.5rem;
     }
     .departamentos{
        margin-top: -100px;
    }
}
@media only screen and (max-width: 1150px) {
    #row {
      gap: 20px;
    }
    .departamentos1{
        height: 13.5rem;
        width: 13.5rem;
     }
     .departamentos{
        margin-top: -70px;
    }
}
/* fim das medias dos departamentos */

@media only screen and (max-width: 769px){
    .headerMob {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    #header-mob {
        position: relative;
        top: 0;
        padding: 2rem 0;
        z-index: 9;
        display: block;
    }
    
    .mobile-only {
        display: block;
    }
    
    #header-deskTop {
        display: none;
    }
    
    .bar-menu-mob{
        position: absolute;
        left: 0;
        cursor: pointer;
    }
    
    .logo-menu-mob{
        text-align: center;
    }
    
    #menu-mobile {
        position: absolute;
        left: -100%;
        top: 0;
        width: 85%;
        height: 100vh;
        background-color: #F4AE1E;
        padding: 2rem 0 2rem 2rem;  
        transition-duration: 1s;
    }
    
    .fechar {
        border: none;
        background: unset;
    }
    
    .close-menu-mob {
        position: absolute;
        top: 1.7rem;
        right: 1.5rem;
    }
    
    .logo-menu-mobile {
        position: absolute;
        top: 0;
    }
    
    .logo-menu-mobile img {
        width: 150px;
        height: 120px;
    }
    
    .nav-mob{
        padding-top: 8rem;
    }
    
    .nav-mob ul li {
        margin-bottom: 1.5rem;
    }   
}  