@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* inicio do estilo header */
header{
    display: flex;
    justify-content: space-around;
    background-color: #F4AE1E;
    height: 150px;
    position: relative;
}
.logo img{
    width: 300px;
    height: 250px;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-size: 1.3rem;
}
/* final do header */

/* inicio body */
.departamentos{
    width: 100%;
    text-align: center;
    /* position: relative;  
    top: -150px; */
    background-color: #224eae;
}
.departamentos1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: -150px;
}
.departamentos1 ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 50px;
    opacity: 1;
}
.departamentos1 ul li{
    height: 18.5rem;
    width: 18.5rem;
    background-color: rgb(59, 209, 151);
    text-align: center;
}
.horti{
    background-image: url(../imagens/hortifruti2.jpg);
    background-size: 18.5rem 18.5rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    padding-top: 15%;
    border-radius: 5px;
}
.acougue{
    background-image: url(../imagens/acougue.jpg);
    background-size: cover;
    background-position-x: -120px;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    padding-top: 15%;
    border-radius: 5px;
}
.padaria{
    background-image: url(../imagens/padaria1.jpg);
    background-size: cover;
    background-position-x: -90px;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
    font-family: 'Crete Round', serif;
    padding-top: 15%;
    border-radius: 5px;
}

.lugares{
    width: 100%;
    height: 60px;
    background-color: #224eae;
    text-align: center;
    padding-bottom: 120px;
}
.lugares h2{
    font-size: 3rem;
    color: rgb(222, 222, 59);
    text-shadow: 2px 4px 7px black;
}

#carousel_lugar{
    width: 100%;
    background-color: #224eae;
}
.mercados{
    max-width: 80%;
    position: relative;
    margin-left: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    font-family: 'Crete Round', serif;
    align-items: center;
    padding: 30px;
}
.card h2{
    font-size: 2.5rem;
    color: white;
    margin-top: 20px;
}
.card p{
    margin-top: 20px;
    font-size: 1.3rem;
    color: white;
}
.numero{
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    height: 2.5rem;
    width: 10rem;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.instagram{
    background-image: url(../imagens/fundobolinhas.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
}
.instagram_divulgacao{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.instagram_texto{
    width: 700px;
    font-size: 80px;
    color: #224eae;
}
.instagram_imagem img{
    width: 700px;
}
/* final body */